p {
    margin-left: 300px; 
    margin-right: 300px; 
    padding-bottom: 50px;
    
}

h4 {
    margin-left: 300px; 
    margin-right: 300px; 
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 30px;
}

*{
    margin: auto;
    background-color: #cfa967;
}



.block {
   
    /* width: 90%; */
    /* border: 5px solid black; */
    
    align-items: center;
    display: flex;
}

